<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>


       {% for post in posts %}

        <div>
            <p>published: 27.03.2017.</p>
            <h2><a href="">My first post</a></h2>
            <p>My first blog will be about my "Work and Travle trip" in Slovakia</p>
        </div>

        <div>
            <p>published: 27.03.2017., 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>In this, my second post, i will write about my others trips...</p>
        </div>
    </body>
</html>
{% endfor %}